<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" >-->
<!--<head>-->
<!--	<meta charset="UTF-8">-->
<!--</head>-->
<!--<body th:fragment="layout">-->
<!--	<header>-->
<!--&lt;!&ndash; 		헤더 내용 &ndash;&gt;-->
<!--		<div th:replace="~{top_menu :: test_top_menu}"></div>-->
<!--	</header>-->

<!--	<nav>-->
<!--		&lt;!&ndash; 네비게이션 메뉴 등 &ndash;&gt;-->
<!--	</nav>-->

<!--	<main>-->
<!--		<div th:replace="~{::content}"></div>-->
<!--	</main>-->

<!--	<footer>-->
<!--		&lt;!&ndash; 페이지 하단에 들어갈 내용 &ndash;&gt;-->
<!--		<div th:replace="~{footer :: test_copy}"></div>-->
<!--	</footer>-->
<!--</body>-->
<!--</html>-->
